@model Room
@{
    ViewBag.Title = "Edit";
}

<div class="page">
    <div id="room">

        <div class="header">
            <div class="row">
                <div class="col-9">
                    <h1><i class="fas fa-hotel"></i>NEW ROOM</h1>
                </div>

            </div>
        </div>



        <div class="create">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="Photo" value="@Model.Photo" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Number)
                        @Html.TextBoxFor(m => m.Number, null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.BedTypeId)
                        @Html.DropDownListFor(m => m.BedTypeId, new SelectList(ViewBag.BedTypes, "id", "name"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AdultCapacity)
                        @Html.TextBoxFor(m => m.AdultCapacity, null, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.ChildCapacity)
                        @Html.TextBoxFor(m => m.ChildCapacity, null, new { @class = "form-control", @type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.File)
                        @Html.TextBoxFor(m => m.File, null, new { @class = "form-control", @type = "file" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Update</button>

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

