@model List<Room>
@{
    ViewBag.Title = "Index";
}

<div class="page">
    <div id="room">

        <div class="header">
            <div class="row">
                <div class="col-9">
                    <h1><i class="fas fa-hotel"></i>ROOM LIST</h1>
                </div>
                <div class="col-3 text-right">
                    <a href="@Url.Action("create","room")"class="btn btn-success">Create New Room</a>
                </div>

            </div>
        </div>

        <div class="room-list">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:black">
                        <th>Photo</th>
                        <th>Description</th>
                        <th>Room</th>
                        <th>Adult</th>
                        <th>Child</th>
                        <th>Bed</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <div class="photo">
                                <img src="~/Upload/@item.Photo" alt="">
                            </div>
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            <h6>@item.Number</h6>
                        </td>
                        <td>
                            <h6>@item.AdultCapacity</h6>
                        </td>
                        <td>
                            <h6>@item.ChildCapacity</h6>
                        </td>
                        <td>
                            <h6>@item.BedType.Name</h6>
                        </td>
                        <td>
                            <h6 class="price p-1" style="border-radius:5px">@item.Price $</h6>
                        </td>
                        <td>
                            <a href="@Url.Action("edit", new { id=item.Id})" class="btn btn-primary mb-1" style="width:90px;">Edit</a>
                            <a onclick="return confirm('Are you sure to delete Room No: @item.Number?')" href="@Url.Action("delete", new { id=item.Id})" class="btn btn-danger">Delete</a>
                            <button type="button" class="btn btn-status active">Active</button>
                        </td>
                    </tr>
                    }


                    

                </tbody>
            </table>
        </div>

       

    </div>
</div>

